* {
  font-family: "Open Sans", Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  scroll-padding-top: 1rem;
  scroll-behavior: smooth;
  color: gainsboro;
}

